<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>QROK test project</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>QROK test project</h1>
        <h2>1. Visit <a th:href="@{/author/info/short}">Author with id #1 page</a></h2>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li th:each="a : ${authors}"><a th:href="@{/author/info/short(id=${a.id})}"><span th:text="${a.id}"></span></a></li>
            </ul>
        </div>



        <!--<h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>-->
        <!--<h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>-->
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>